﻿@using Farmas.WebApp
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Html.InitializeWebApp("scripts/samples/main", ScriptLibraries.JQuery, ScriptLibraries.Knockout)
</head>
<body>
    <div>
        Hello World
    </div>
</body>
</html>
